nav(class="navbar navbar-expand-lg navbar-light bg-success")
  a(class="navbar-brand l" href="/")
    img(class="label ml-3" width="50" height="50" src="/images/GG_M.jpg")
  button(class="navbar-toggler")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse")
    ul(class="navbar-nav ms-auto")
      li(class="nav-item")
        a(class="btn btn-success btn-photos me-3" href="/photos/upload") Ajoute
